@{
  Layout = "_Layout";
}

@using HairSalon.Models
@model HairSalon.Models.Stylist

<h2>Stylists Details</h2>

<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>
  <ul>
  <li>Hire Date: @Html.DisplayFor(model => model.HireDate)</li>
  </ul>

<p>@Html.ActionLink("Edit Stylists", "Edit", new {id =  Model.StylistId})</p>
<p>@Html.ActionLink("Delete Stylists", "Delete", new {id =  Model.StylistId})</p>
<p>@Html.ActionLink("Back to Stylists", "Index", "Stylist")</p>
<p>@Html.ActionLink("Add Clients", "Create", "Clients")</p>
<p>@Html.ActionLink("Back to home", "Index", "Home")</p>