@{
  Layout = "_Layout";
}

@using HairSalon.Models
@model HairSalon.Models.Stylist

<h2>Stylists Details</h2>

<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>
<h5>Due Date: @Convert.ToDateTime(Model.HireDate).ToString("dd/MM/yyyy")</h5>

<p>@Html.ActionLink("Edit Stylists", "Edit", new {id = Model.StylistId})</p>
<p>@Html.ActionLink("Delete Stylists", "Delete", new {id = Model.StylistId})</p>
<p>@Html.ActionLink("Back to Stylists", "Index")</p>
<p>@Html.ActionLink("Add Clients", "Create", "Clients")</p>
<p>@Html.ActionLink("Back to home", "Index", "Home")</p>