@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<h2>Clients Details</h2>

<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>
  <ul>
  <li>Phone Number: @Html.DisplayFor(model => model.PhoneNumber)</li>
  <li>Style Hair: @Html.DisplayFor(model => model.StyleHair)</li>
  </ul>

<p>@Html.ActionLink("Edit Clients", "Edit", new {id =  Model.ClientId})</p>
<p>@Html.ActionLink("Delete Clients", "Delete", new {id =  Model.ClientId})</p>
<p>@Html.ActionLink("Back to Stylists", "Index", "Stylist")</p>
<p>@Html.ActionLink("Back to all Clients", "Index")</p>